<h1>Lista de peticiones</h1>


<table  class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Tipo</th>
    <th>Description</th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.tipo %></td>
    <td><%= contact.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
